.header-container {
  width: 100%;
  height: 3.5rem;
  padding-top: 0.75rem;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 10;
}
.logo-container {
  grid-column: 1;
  justify-self: end;
}
.header-link-container {
  grid-column-start: 7;
  grid-column-end: span 3;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.header-link {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: var(--accent-font);
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.header-link:hover {
  color: var(--accent-color);
}
